body {
  text-align: center;
}
h1,h2 {
    color:#FF8A32;
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}

table {
    width: 80%;
}
th {
    text-align: left;
}

